In [25]:
import pandas as pd

In [26]:
df=pd.read_csv('house_price.txt')

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 283901 entries, 0 to 283900
Data columns (total 46 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Unnamed: 0             283901 non-null  int64
 1   Lng                    283900 non-null  float64
 2   Lat                    283901 non-null  float64
 3   tradeTime              283901 non-null  int64
 4   followers              283901 non-null  float64
 5   totalPrice             283901 non-null  float64
 6   square                 283901 non-null  float64
 7   livingRoom             283901 non-null  float64
 8   drawingRoom            283901 non-null  float64
 9   kitchen                283901 non-null  float64
 10  bathRoom               283901 non-null  float64
 11  constructionTime       283901 non-null  float64
 12  ladderRatio            283901 non-null  float64
 13  fiveYearsProperty      283901 non-null  float64
 14  subway                 283901 non-null  float64
 15  communityAverage       283901 non-null  float64
 16  floor_height           283901 non-null  float64
 17  renovationCondition_2  283901 non-null  int64
 18  renovationCondition_3  283901 non-null  int64
 19  renovationCondition_4  283901 non-null  int64
 20  buildingStructure_2    283901 non-null  int64
 21  buildingStructure_3    283901 non-null  int64
 22  buildingStructure_4    283901 non-null  int64
 23  buildingStructure_5    283901 non-null  int64
 24  buildingStructure_6    283901 non-null  int64
 25  buildingType_2.0       283901 non-null  int64
 26  buildingType_3.0       283901 non-null  int64
 27  buildingType_4.0       283901 non-null  int64
 28  district_2             283901 non-null  int64
 29  district_3             283901 non-null  int64
 30  district_4             283901 non-null  int64
 31  district_5             283901 non-null  int64
 32  district_6             283901 non-null  int64
 33  district_7             283901 non-null  int64
 34  district_8             283901 non-null  int64
 35  district_9             283901 non-null  int64
 36  district_10            283901 non-null  int64
 37  district_11            283901 non-null  int64
 38  district_12            283901 non-null  int64
 39  district_13            283901 non-null  int64
 40  elevator_1.0           283901 non-null  int64
 41  floor_type_低           283901 non-null  int64
 42  floor_type_底           283901 non-null  int64
 43  floor_type_未知          283901 non-null  int64
 44  floor_type_顶           283901 non-null  int64
 45  floor_type_高           283901 non-null  int64
dtypes: float64(15), int64(31)
memory usage: 99.6 MB

In [28]:
df.head()

,Unnamed: 0,Lng,Lat,tradeTime,followers,totalPrice,square,livingRoom,drawingRoom,kitchen,...,district_10,district_11,district_12,district_13,elevator_1.0,floor_type_低,floor_type_底,floor_type_未知,floor_type_顶,floor_type_高
0,0,0.000000,0.627253,2016,0.092738,415.0,0.272992,0.250,0.2,0.333333,...,0,0,0,0,1,0,0,0,0,1
1,1,0.597040,0.406733,2016,0.110236,575.0,0.276039,0.250,0.4,0.333333,...,0,0,0,0,1,0,0,0,0,1
2,3,0.572140,0.717698,2016,0.120735,297.5,0.279617,0.375,0.2,0.333333,...,0,0,0,0,1,0,1,0,0,0
3,4,0.557084,0.414236,2016,0.250219,392.0,0.162585,0.250,0.2,0.333333,...,0,0,0,0,0,0,0,0,0,0
4,5,0.616393,0.582255,2016,0.049869,275.6,0.100757,0.125,0.0,0.333333,...,0,0,0,0,1,0,0,0,0,0

In [29]:
def tozala(df):
    for col in df.columns:
        if df[col].isnull().any():
            if df[col].dtype=='object':
                df[col].fillna(df[col].mode()[0],inplace=True)
            else:
                df[col].fillna(df[col].mean(),inplace=True)
    return df

In [30]:
tozala(df)

,Unnamed: 0,Lng,Lat,tradeTime,followers,totalPrice,square,livingRoom,drawingRoom,kitchen,...,district_10,district_11,district_12,district_13,elevator_1.0,floor_type_低,floor_type_底,floor_type_未知,floor_type_顶,floor_type_高
0,0,0.000000,0.627253,2016,0.092738,415.0,0.272992,0.250,0.2,0.333333,...,0,0,0,0,1,0,0,0,0,1
1,1,0.597040,0.406733,2016,0.110236,575.0,0.276039,0.250,0.4,0.333333,...,0,0,0,0,1,0,0,0,0,1
2,3,0.572140,0.717698,2016,0.120735,297.5,0.279617,0.375,0.2,0.333333,...,0,0,0,0,1,0,1,0,0,0
3,4,0.557084,0.414236,2016,0.250219,392.0,0.162585,0.250,0.2,0.333333,...,0,0,0,0,0,0,0,0,0,0
4,5,0.616393,0.582255,2016,0.049869,275.6,0.100757,0.125,0.0,0.333333,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
283896,318845,0.742592,0.204891,2016,0.006999,355.5,0.280058,0.375,0.4,0.333333,...,0,0,0,0,1,0,0,0,0,0
283897,318846,0.742592,0.204891,2016,0.006999,350.0,0.359264,0.375,0.4,0.333333,...,0,0,0,0,0,0,0,0,0,0
283898,318847,0.665223,0.292595,2016,0.000875,108.8,0.061210,0.125,0.0,0.333333,...,0,0,0,0,1,0,0,0,0,0
283899,318848,0.664882,0.282952,2016,0.001750,359.0,0.209332,0.250,0.4,0.333333,...,0,0,0,0,1,0,0,0,0,0
283900,318849,0.671986,0.275386,2016,0.003500,720.0,0.377526,0.500,0.4,0.333333,...,0,0,0,0,0,0,0,0,0,0

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 283901 entries, 0 to 283900
Data columns (total 46 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Unnamed: 0             283901 non-null  int64
 1   Lng                    283901 non-null  float64
 2   Lat                    283901 non-null  float64
 3   tradeTime              283901 non-null  int64
 4   followers              283901 non-null  float64
 5   totalPrice             283901 non-null  float64
 6   square                 283901 non-null  float64
 7   livingRoom             283901 non-null  float64
 8   drawingRoom            283901 non-null  float64
 9   kitchen                283901 non-null  float64
 10  bathRoom               283901 non-null  float64
 11  constructionTime       283901 non-null  float64
 12  ladderRatio            283901 non-null  float64
 13  fiveYearsProperty      283901 non-null  float64
 14  subway                 283901 non-null  float64
 15  communityAverage       283901 non-null  float64
 16  floor_height           283901 non-null  float64
 17  renovationCondition_2  283901 non-null  int64
 18  renovationCondition_3  283901 non-null  int64
 19  renovationCondition_4  283901 non-null  int64
 20  buildingStructure_2    283901 non-null  int64
 21  buildingStructure_3    283901 non-null  int64
 22  buildingStructure_4    283901 non-null  int64
 23  buildingStructure_5    283901 non-null  int64
 24  buildingStructure_6    283901 non-null  int64
 25  buildingType_2.0       283901 non-null  int64
 26  buildingType_3.0       283901 non-null  int64
 27  buildingType_4.0       283901 non-null  int64
 28  district_2             283901 non-null  int64
 29  district_3             283901 non-null  int64
 30  district_4             283901 non-null  int64
 31  district_5             283901 non-null  int64
 32  district_6             283901 non-null  int64
 33  district_7             283901 non-null  int64
 34  district_8             283901 non-null  int64
 35  district_9             283901 non-null  int64
 36  district_10            283901 non-null  int64
 37  district_11            283901 non-null  int64
 38  district_12            283901 non-null  int64
 39  district_13            283901 non-null  int64
 40  elevator_1.0           283901 non-null  int64
 41  floor_type_低           283901 non-null  int64
 42  floor_type_底           283901 non-null  int64
 43  floor_type_未知          283901 non-null  int64
 44  floor_type_顶           283901 non-null  int64
 45  floor_type_高           283901 non-null  int64
dtypes: float64(15), int64(31)
memory usage: 99.6 MB

In [32]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder, StandardScaler

def encod_qil(df):
    df = df.copy()  
    for col in df.columns:
        if df[col].dtype == 'object':
            if df[col].nunique() <= 6:
                dummies = pd.get_dummies(df[col], prefix=col, dtype=int)
                df = pd.concat([df.drop(columns=col), dummies], axis=1)
            else:
                encoder = LabelEncoder()
                df[col] = encoder.fit_transform(df[col])
    return df

In [33]:
df=encod_qil(df)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 283901 entries, 0 to 283900
Data columns (total 46 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Unnamed: 0             283901 non-null  int64
 1   Lng                    283901 non-null  float64
 2   Lat                    283901 non-null  float64
 3   tradeTime              283901 non-null  int64
 4   followers              283901 non-null  float64
 5   totalPrice             283901 non-null  float64
 6   square                 283901 non-null  float64
 7   livingRoom             283901 non-null  float64
 8   drawingRoom            283901 non-null  float64
 9   kitchen                283901 non-null  float64
 10  bathRoom               283901 non-null  float64
 11  constructionTime       283901 non-null  float64
 12  ladderRatio            283901 non-null  float64
 13  fiveYearsProperty      283901 non-null  float64
 14  subway                 283901 non-null  float64
 15  communityAverage       283901 non-null  float64
 16  floor_height           283901 non-null  float64
 17  renovationCondition_2  283901 non-null  int64
 18  renovationCondition_3  283901 non-null  int64
 19  renovationCondition_4  283901 non-null  int64
 20  buildingStructure_2    283901 non-null  int64
 21  buildingStructure_3    283901 non-null  int64
 22  buildingStructure_4    283901 non-null  int64
 23  buildingStructure_5    283901 non-null  int64
 24  buildingStructure_6    283901 non-null  int64
 25  buildingType_2.0       283901 non-null  int64
 26  buildingType_3.0       283901 non-null  int64
 27  buildingType_4.0       283901 non-null  int64
 28  district_2             283901 non-null  int64
 29  district_3             283901 non-null  int64
 30  district_4             283901 non-null  int64
 31  district_5             283901 non-null  int64
 32  district_6             283901 non-null  int64
 33  district_7             283901 non-null  int64
 34  district_8             283901 non-null  int64
 35  district_9             283901 non-null  int64
 36  district_10            283901 non-null  int64
 37  district_11            283901 non-null  int64
 38  district_12            283901 non-null  int64
 39  district_13            283901 non-null  int64
 40  elevator_1.0           283901 non-null  int64
 41  floor_type_低           283901 non-null  int64
 42  floor_type_底           283901 non-null  int64
 43  floor_type_未知          283901 non-null  int64
 44  floor_type_顶           283901 non-null  int64
 45  floor_type_高           283901 non-null  int64
dtypes: float64(15), int64(31)
memory usage: 99.6 MB

In [38]:
scaler=StandardScaler()
def scaling_qil(df):
    numerical_col=df.select_dtypes(include=['int64', 'int32','float64']).columns.drop('totalPrice')
    df[numerical_col]=scaler.fit_transform(df[numerical_col])
    return df

In [39]:
df=scaling_qil(df)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 283901 entries, 0 to 283900
Data columns (total 46 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Unnamed: 0             283901 non-null  float64
 1   Lng                    283901 non-null  float64
 2   Lat                    283901 non-null  float64
 3   tradeTime              283901 non-null  float64
 4   followers              283901 non-null  float64
 5   totalPrice             283901 non-null  float64
 6   square                 283901 non-null  float64
 7   livingRoom             283901 non-null  float64
 8   drawingRoom            283901 non-null  float64
 9   kitchen                283901 non-null  float64
 10  bathRoom               283901 non-null  float64
 11  constructionTime       283901 non-null  float64
 12  ladderRatio            283901 non-null  float64
 13  fiveYearsProperty      283901 non-null  float64
 14  subway                 283901 non-null  float64
 15  communityAverage       283901 non-null  float64
 16  floor_height           283901 non-null  float64
 17  renovationCondition_2  283901 non-null  float64
 18  renovationCondition_3  283901 non-null  float64
 19  renovationCondition_4  283901 non-null  float64
 20  buildingStructure_2    283901 non-null  float64
 21  buildingStructure_3    283901 non-null  float64
 22  buildingStructure_4    283901 non-null  float64
 23  buildingStructure_5    283901 non-null  float64
 24  buildingStructure_6    283901 non-null  float64
 25  buildingType_2.0       283901 non-null  float64
 26  buildingType_3.0       283901 non-null  float64
 27  buildingType_4.0       283901 non-null  float64
 28  district_2             283901 non-null  float64
 29  district_3             283901 non-null  float64
 30  district_4             283901 non-null  float64
 31  district_5             283901 non-null  float64
 32  district_6             283901 non-null  float64
 33  district_7             283901 non-null  float64
 34  district_8             283901 non-null  float64
 35  district_9             283901 non-null  float64
 36  district_10            283901 non-null  float64
 37  district_11            283901 non-null  float64
 38  district_12            283901 non-null  float64
 39  district_13            283901 non-null  float64
 40  elevator_1.0           283901 non-null  float64
 41  floor_type_低           283901 non-null  float64
 42  floor_type_底           283901 non-null  float64
 43  floor_type_未知          283901 non-null  float64
 44  floor_type_顶           283901 non-null  float64
 45  floor_type_高           283901 non-null  float64
dtypes: float64(46)
memory usage: 99.6 MB

In [40]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [41]:
x=df.drop('totalPrice',axis=1)

In [42]:
y=df['totalPrice']

In [43]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [44]:
from sklearn.linear_model import LinearRegression

In [45]:
model=LinearRegression()

In [46]:
model

LinearRegression()

In [47]:
model.fit(x_train,y_train)

LinearRegression()

In [48]:
y_pred=model.predict(x_test)

In [49]:
y_pred

array([330.7863964 , 264.81458481,  98.9442331 , ..., 469.01529096,
       247.41363175, 179.76728779])

In [50]:
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error

In [51]:
r2=r2_score(y_test,y_pred)
mse=mean_squared_error(y_test,y_pred)
rmse=pow(mse,(1/2))
mae=mean_absolute_error(y_test,y_pred)

In [52]:
print(r2)
print(mse)
print(rmse)
print(mae)

0.8025734476812278
4421.431672460033
66.49384687668501
49.59994977059365